.enclosingUlDiv{
    width: 80%;
    margin: 0 auto;
}

.Header .inline{
	display: inline-block;
    padding-left: 27px;
    }

#option{
	    font-size: 18px;
	    cursor: pointer;
}
.addMargin{
	    margin-left: 3%;
        padding-right: 29px;
}
.chanePostionMiddleScreen{
	margin-top: 0%;
}

.inlineDiv{
	display: inline-block;
}


.parInBodyXS{
		color: white;
		font-size: 40px;
	 	line-height: 40px;
		font-weight: 900;
		font-family: 'Work Sans', sans-serif;
		text-transform: uppercase;

}


.parInBody1SM{
		color: white;
	 	font-size: 36px;
	 	line-height: 36px;
	 	font-weight: 300;
		font-family: 'Work Sans', sans-serif;
		text-transform: uppercase;
		margin-top: -1%;

}


.marginText{
	margin-top: -2%;
}
.Cont .mainPar{
	color:white;
	line-height: 32px;
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}

.Cont .Margin{
	    margin-top: 3%;
}
.Cont .Margin1{
	    margin-top: -1%;
}
.info .classMargin{
	    margin-top: -6%;
}


.info .marginHere{
	margin-left: 16%;
}





.marginSMHere{
	margin-top:14%;
}
.xzSM{
	    margin-top: 8%;
    font-size: 41px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.marginSMHere1{
	margin-bottom:30%;
}



.top{
	margin-top: 2%;
}
.modifyMargin1{
	padding-left: 28px;
		font-size: 10px;
}
.modifyMargin2{
	padding-left: 24px;
		font-size: 10px;
}
.modifyMargin3{
	padding-left: 23px;
		font-size: 10px;
}
.modifyMargin4{
	padding-left: 28px;
		font-size: 10px;
}
.modifyMargin5{
	padding-left: 28px;
		font-size: 10px;
}
.modifyMargin6{
	padding-left: 30px;
		font-size: 10px;
}
.modifyMargin7{
	padding-left: 25px;
		font-size: 10px;
}

.logoTop{
	margin-top: 19%;
}
.extendWidth{
	width: 100%;
}
.toCenter{
	    margin-top: 6%;
    	margin-bottom: 6%;
}
.fullMobile{
	display: none;
	width:100%;
	overflow: hidden;
}
.fullMobile ul{
	list-style: none;
    margin-top: 7%;


}
.fullMobile li{
	padding-bottom: 6%;
}
.remove{
    font-size: 21px;
    margin-left: 4%;
    margin-top: 2%;
}
.remove2{
    font-size: 21px;
    cursor: pointer;
	visibility: hidden;
}


.remove:hover{
	cursor: pointer;
}
.remove1 {
    width: 100%;
    height: 43px;
    box-shadow: 5px 3px 1px #eee;}
  
   
        .marginMobile{
    	    margin-top: -5%;
    }
    .Mobile{
    	position: relative;
    }
    .Mobile .input {
		margin-top: 5%;
		border:none;
		outline: none;
		    }
		    .Mobile .marginUp{
		    	 margin-top: -6%;

		    }

	

	.Mobile .addMargin{
		margin-top: 2%;
	}

	

	.fullMobile .Margin{
		margin-top: 21%;
	}

	.headerContainerr{
		    position: relative;

	}